<article class="column">
  <p id="notice"><%= notice %></p>

  <%= render 'post', post: @post %>

  <section>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </section>
</article>